name: testingTheWorkflow
on: workflow_dispatch
jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - uses: opentofu/setup-opentofu@v1.0.5
          with:
            tofu_version: 1.9.1
        - name: testing the echo
          run: echo "echo worked"
        - name: check the list of files
          run: ls
        - name: installing sops and check version
          run: |
            # Download the binary
            curl -LO https://github.com/getsops/sops/releases/download/v3.10.2/sops-v3.10.2.linux.amd64
            # Move the binary in to your PATH
            mv sops-v3.10.2.linux.amd64 /usr/local/bin/sops
            # Make the binary executable
            chmod +x /usr/local/bin/sops
            sops -version
        - name: Set up Tofu
          run: |
            # Download the installer script:
            curl --proto '=https' --tlsv1.2 -fsSL https://get.opentofu.org/install-opentofu.sh -o install-opentofu.sh
            # Alternatively: wget --secure-protocol=TLSv1_2 --https-only https://get.opentofu.org/install-opentofu.sh -O install-opentofu.sh
            # Give it execution permissions:
            chmod +x install-opentofu.sh
            # Please inspect the downloaded script
            # Run the installer:
            ./install-opentofu.sh --install-method deb
            # Remove the installer:
            rm -f install-opentofu.sh
            tofu -version
        - name: Azure Login
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}
        # - name: Azure CLI script
        #   uses: azure/cli@v2
        #   with:
        #     azcliversion: latest
        #     inlineScript: |
        #       az account show
        - name: Determine Environment Name
          id: env
          run: |
            BRANCH_NAME="${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}"
            echo "Branch name: $BRANCH_NAME"
        
            if [[ "$BRANCH_NAME" == "main" ]]
            then
              ENVIRONMENT="production"
            elif [[ "$BRANCH_NAME" == "staging" ]]
            then
              ENVIRONMENT="staging"
            elif [[ "$BRANCH_NAME" == "dev" ]]
            then
              ENVIRONMENT="development"
            elif [[ "$BRANCH_NAME" == "uat" ]]
            then
              ENVIRONMENT="uat"
            else
              echo "âŒ Unsupported environment! Only 'stage' and 'prod' are allowed."
              exit 1
            fi
            echo "Detected environment: $ENVIRONMENT"
            echo "ENV_NAME=$ENVIRONMENT" >> $GITHUB_ENV
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
        - name: sops decrypt
          run: |
            cd "${ENV_NAME}"/
            sops -d "${ENV_NAME}".tfvars.encrypted > "${ENV_NAME}".tfvars
            cat "${ENV_NAME}".tfvars

        - name: Tofu Format Check
          run: |
            cd "${ENV_NAME}"/
            ls "${ENV_NAME}"
            tofu fmt -check
    
        - name: Tofu Init
          run: |
            cd "${ENV_NAME}"/
            tofu init
    
        - name: Tofu Validate
          run: |
            cd "${ENV_NAME}"/
            tofu validate

        - name: plan
          run: |
            cd "${ENV_NAME}"/
            tofu plan -var-file="${ENV_NAME}.tfvars"
      
        - name: Manual Approval
          uses: trstringer/manual-approval@v1
          with:
            secret: ${{ secrets.GITHUB_TOKEN }}
            approvers: charansaikatakam
            minimum-approvals: 1
            issue-title: "Approval required to apply Tofu changes"
            issue-body: "Approve to proceed with tofu apply."
        
